.footer {
  height: 25px;
  background-color: var(--accent-blue);
  color: #1a1b26;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  justify-content: space-between;
}

.footer footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #1a1b26;
  margin-left: 1rem;
}